:root {
    /* Định nghĩa kích thước quạt dựa trên chiều rộng màn hình */
    --fan-width: 90vw;
    --fan-height: 45vw;
    /* Chiều cao bằng khoảng một nửa chiều rộng để giữ tỉ lệ bán nguyệt */
}

.fan-container {
    position: relative;
    width: var(--fan-width);
    height: var(--fan-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    /* Hiệu ứng bay từ dưới lên */
    transform: translateY(100vh);
    transition: transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.fan-container.active {
    transform: translateY(0);
}

.fan-blade {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Độ rộng mỗi nan quạt cũng co giãn theo màn hình */
    width: calc(var(--fan-width) / 10);
    height: 100%;
    margin-left: calc(var(--fan-width) / -20);
    transform-origin: bottom center;
    transform: rotate(0deg);

    /* Giai đoạn xòe */
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1s;
}

/* Phần giấy quạt (Cánh quạt) */
.fan-blade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75%;
    background-color: rgb(116, 0, 6);
    background-image: radial-gradient(circle,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px);
    background-size: 5px 5px;
    border: 2px solid var(--gold-border);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}

/* Phần nan gỗ (Xương quạt) */
.fan-blade::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 46%;
    width: 8%;
    height: 100%;
    background: #e57373;
    border-radius: 1vw;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Khi quạt mở */
.fan-container.active .fan-blade {
    /* Công thức mới: (var(--i) - 10) * 9deg 
     - 10: là điểm chính giữa của 21 nan (từ 0 đến 20)
     - 9deg: khoảng cách giữa các nan để xòe đủ góc rộng
  */
    transform: rotate(calc((var(--i) - 10) * 9deg));

    /* Điều chỉnh lại delay so le để mượt hơn với số lượng nan lớn */
    transition-delay: calc(1s + (var(--i) * 0.02s));
}

/* Chốt quạt ở tâm */
.fan-pivot {
    position: absolute;
    bottom: -1vw;
    width: 3vw;
    height: 3vw;
    background: #b35959;
    border-radius: 50%;
    z-index: 10;
    border: 0.5vw solid white;
}

.fan-wraper {
    position: absolute;
    top: 0;
    /* background-color: #f0f2f5; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
}