body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/basics/bg.png');
  background-size: cover;
  height: 100vh;
}

/* ===== HEADER ===== */
header {
  height: 60px;
  background-color: #b71c1c;
  /* đỏ Tết */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

/* ===== MAIN ===== */
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  /* padding: 10px; */
  /* toàn màn hình */
}


.left-flower-top {
  position: fixed;
  bottom: -70px;
  left: 70px;
  background-image: url('../assets/basics/flower-left.png');
  background-size: cover;
  width: 350px;
  height: 350px;
}

/* Bên trái: hình giải thưởng */
.prizes {
  width: 25%;
  min-width: 250px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.prizes-box {
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prizes-box::-webkit-scrollbar {
  display: none;
}

.prizes img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Prize box */

.prize-item {
  width: 90%;
  height: 90%;
  object-fit: contain;
  opacity: 0;
}

.prize-item::-webkit-scrollbar {
  display: none;
}

.prize-item.show {
  opacity: 1;
  transform: scale(1);
}

/* ===== BÊN PHẢI DANH SÁCH TRÚNG GIẢI ===== */

.winners {
  width: 25%;
  min-width: 250px;
  overflow-y: auto;
  /* box-shadow: 0 0 25px rgba(218, 218, 218, 0.8); */
  /* Nếu muốn box bên trong đẹp hơn, thêm padding 10px */
  padding: 10px;
  box-sizing: border-box;

}

.winner-box {
  background: transparent;
  /* width: 100%; */
  height: 100%;
  border-radius: 12px;
  /* display: flex; */
  padding: 12px;
  box-sizing: border-box;

  /* Bóng đổ mượt */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.winners-title {
  margin-top: 0;
  text-align: center;
  color: #f0f343;
  font-size: 20px;
  font-weight: bold;
}

/* Danh sách người trúng */
.winner-list {
  flex: 1;
  max-height: 95%;
  overflow: auto;
  /* padding-right: 5px; */
}

.winner-list::-webkit-scrollbar {
  display: none;
}

.winner-item {
  display: flex;
  height: calc(100% / 5);
  background: transparent;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transform: translateX(40px);
  animation: slideIn 0.6s ease-out forwards;
}

/* Ảnh */
.winner-avatar {
  width: 70px;
  height: 90px;
  border-radius: 8px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
}

/* Text thông tin */
.winner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner-info .name {
  font-size: 18px;
  font-weight: bold;
}

.winner-info .code {
  font-size: 14px;
  color: #555;
}

.winner-info .dept {
  font-size: 14px;
  color: #333;
}


/* Nút Import Excel góc phải */
.image-button {
  position: fixed;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  /* Để viền hover không làm "giật" layout */
  border: 3px solid transparent;
  border-radius: 10px;

  transition: border 0.2s ease-in-out;
}

.image-button img {
  width: 120px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.image-button:hover img {
  filter: drop-shadow(0 0 6px gold) drop-shadow(0 0 12px gold);
}

/* ô chọn giải */
.prize-select-box {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  color: white;
}

.prize-select-box select {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 8px;
}

.numbers-row {
  display: flex;
  justify-content: center;
  margin: 4px 0;
  /* border: black 1px solid; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



/* Giữa: máy gacha 6 số */
.gacha {
  width: 900px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}

.numbers {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.number {
  width: 50px;
  height: 50px;
  background-color: #ffd54f;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-spin {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-spin:hover {
  background-color: #b71c1c;
}

/*  */
/* ====== KHUNG MÁY ====== */

.gacha-machine {
  width: 350px;
  position: relative;
}

.machine-frame {
  background: linear-gradient(180deg, #c60000, #7a0000);
  padding: 20px;
  border-radius: 10px;
  /* border: linear-gradient(180deg, #c60000, #7a0000) 4px solid; */
  /* border-top: 6px solid #fff2cc; */
  box-shadow: 0 0 25px rgba(255, 230, 0, 0.8);
}

/* ====== MÀN HÌNH HIỂN THỊ ====== */
.machine-display {
  background: transparent;
  border-radius: 10px;
  border: 4px solid #ffd966;
  padding: 15px;
  min-height: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: height 0.25s ease;
}

#gachaRows {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

/* Một hàng số */
.gacha-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.gacha-number {
  background: #000;
  color: #ffd966;
  border: 2px solid #ffd966;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}

/* ====== PHẦN NÚT JACKPOT ====== */
.jackpot-match-area {
  width: 270px;
  height: 12px;
  background: linear-gradient(180deg, #c60000, #7a0000);
  box-shadow: 0 0 25px rgba(255, 230, 0, 0.8);
}

.jackpot-button-area {
  width: 400px;
  height: 150px;
  background: linear-gradient(180deg, #c60000, #7a0000);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px rgba(255, 230, 0, 0.8);
  padding: 10px;
}

/* --- Bên trái (70%) --- */
.left-bg {
  background-color: #f4f4f4;
  width: 60%;
  height: 90%;
  border-radius: 6px;
}

.left-bg-top {
  text-align: center;
  /* font-family: ; */
  font-weight: bold;
  font-size: 60px;
}

.left-bg-bottom {}

/* --- Nút SPIN bên phải (30%) --- */
.spin-btn {
  width: 30%;
  aspect-ratio: 1;
  /* giúp giữ tròn */
  border-radius: 50%;
  border: none;

  background: radial-gradient(circle, #ff4444, #b30000);
  color: white;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 0 #7a0000;
}

/* Container cố định góc phải */
.fab-container {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nút tròn lớn */
.fab-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: #ff4747;
  color: white;
  font-size: 28px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  transition: transform 0.2s ease, background 0.2s ease;
}

.fab-btn:hover {
  transform: scale(1.07);
  background: #ff5d5d;
}

/* MENU GIẢI THƯỞNG */
.fab-menu {
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

/* Nút item giải */
.fab-item {
  min-width: 150px;
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 2px solid transparent;

  transition: transform 0.2s ease, border-color 0.2s ease;
}

.fab-item:hover {
  border-color: gold;
  transform: translateY(-3px);
}

/* Animation hiện menu */
.fab-menu.show {
  display: flex;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Animation nhấn --- */
.spin-btn:active {
  transform: scale(0.9);
  box-shadow: 0 2px 0 #7a0000;
}

/* Animation */
.number {
  width: 40px;
  height: 50px;
  background: #111;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: bold;
  border-radius: 8px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(137, 140, 137) inset;
  transition: all 0.2s ease-out;
}

/* hiệu ứng blur khi quay */
.spin-blur {
  filter: blur(5px);
  color: #0a0 !important;
}

/* hơi rung giống máy thật */
.spin-shake {
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(1px);
  }
}

@keyframes shakeTree {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1.5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-1.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes slideUpBlur {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.soft-bounce {
  opacity: 0;
  transform: scale(0.7);
  animation: softBounce 0.7s cubic-bezier(.26, .05, .43, 1.48) forwards;
}

@keyframes softBounce {
  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.question-rain {
  position: fixed;
  inset: 0;
  /* full màn hình */
  pointer-events: none;
  overflow: hidden;
  z-index: 99999;
}

.question {
  position: absolute;
  top: -60px;
  font-size: 40px;
  opacity: 1;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}