.tet-lantern {
    position: fixed;
    top: -100%;
    width: 40%;
    z-index: 1000;
    transform-origin: top center;
    transition: top 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#lantern-left {
    left: 0%;
}

#lantern-right {
    right: 0%;
    transition-delay: 0.1s;
}

.tet-lantern.show {
    top: -20px;
    animation: swingl 3s infinite ease-in-out alternate;
}

@keyframes swingl {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}