body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  padding-top: 70px; /* để nội dung không bị header che */
}
/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #f2f2f2;
  font-weight: bold;
}

/* ===== HEADER ===== */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-image: url("../assets/basics/banner-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

header .header-left {
  color: white;
  flex: 1;
  margin: 0;
  font-size: 20px;
}
header .logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
header .header-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

header button,
header label {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffc107;
  color: #000;
  transition: 0.2s;
}

header button:hover,
header label:hover {
  background-color: #e0a800;
}

/* ===== Button ===== */
.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.reward-btn {
  width: 120px;
  height: 40px;
  background-color: #101218;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.IconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.IconContainer svg {
  width: 40%;
  z-index: 3;
}
.box-top {
  transition: all 0.3s;
}
.text {
  width: 70px;
  height: 100%;
  font-size: 13px;
  color: #6a8ef6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}
.reward-btn:hover .IconContainer .box-top {
  transform: translateY(-5px);
}
.reward-btn:hover {
  background-color: #202531;
}
.reward-btn:hover .coin {
  transform: translateY(-5px);
  transition-delay: 0.2s;
}
.coin {
  width: 25%;
  height: 25%;
  background-color: #e4d61a;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 1;
  border: 2px solid #ffe956;
  margin-top: 4px;
}

.save-btn {
  margin-top: 20px;
  padding: 10px 18px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}

.btn-upload {
  border: none;
  color: white;
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-upload:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Ẩn input gốc */
.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

header button:hover,
header label:hover {
  background-color: #e0a800; /* vàng đậm khi hover */
}

/* Yellow Beach Button */
.beach-button {
  background-color: #fbc02d;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.beach-button:hover {
  background-color: #ffe082;
}

.beach-button svg {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}
